# SPDX-FileCopyrightText: 2023 Mercedes-Benz Tech Innovation GmbH
#
# SPDX-License-Identifier: MIT

name: Govulncheck
on:
  pull_request:
    types:
      - closed
    branches:
      - main

defaults:
  run:
    working-directory: ./

jobs:
  if_merged:
    if: github.event.pull_request.merged
    name: govulncheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.20.3'
      - name: Run govulncheck
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
          govulncheck ./...
